name: build-gcc-16

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Run build steps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            autoconf2.69 dwz lzma xz-utils libzstd-dev zlib1g-dev systemtap-sdt-dev \
            binutils:native binutils-hppa64-linux-gnu:native gettext nvptx-tools amdgcn-tools-18 \
            texinfo sharutils procps netbase libisl-dev libmpc-dev libmpfr-dev libgmp-dev lib32z1-dev libx32z1-dev
          sudo apt-get clean
          mkdir -p $HOME/gcc-16/obj
          # fetch gcc source into $HOME/gcc-16
          curl -L https://github.com/gcc-mirror/gcc/archive/master.tar.gz | tar -xz --strip-components=1 -C $HOME/gcc-16
          # fetch binutils into $HOME/binutils
          mkdir -p $HOME/binutils
          curl -L https://sourceware.org/pub/binutils/releases/binutils-2.45.tar.gz | tar -xz --strip-components=1 -C $HOME/binutils
          # create the same symlinks relative to the gcc source dir
          cd $HOME/gcc-16
          ln -s ../binutils/bfd ../binutils/gas ../binutils/binutils ../binutils/ld ../binutils/libctf \
             ../binutils/libsframe ../binutils/opcodes .
          cd $HOME/gcc-16/obj
          ../configure --enable-languages=c,c++,lto --prefix=/opt/gcc-16 --enable-checking=release --disable-bootstrap --disable-multilib

          make BOOT_CFLAGS=-march=x86-64-v3 -j3
          sudo make -j3 install-strip
          sudo update-alternatives --install /usr/bin/gcc-16 gcc-16 /opt/gcc-16/bin/gcc 160 --slave /usr/bin/g++-16 g++-16 /opt/gcc-16/bin/g++
          sudo update-alternatives --install /usr/bin/gcc gcc /opt/gcc-16/bin/gcc 160 --slave /usr/bin/g++ g++ /opt/gcc-16/bin/g++
          cd $HOME
          rm -rf gcc-16
          sudo apt-get purge --autoremove -y \
            libzstd-dev zlib1g-dev systemtap-sdt-dev \
            libisl-dev libmpc-dev libmpfr-dev libgmp-dev lib32z1-dev libx32z1-dev

      - name: Setup Pragma
        uses: Silverlan/pragma/github_actions/setup@feat/cxx_modules3
        with:
          branch: feat/cxx_modules3
          clone_url: "https://github.com/Silverlan/pragma.git"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install Dependencies
        shell: bash
        run: |
          apt install ninja-build

      - name: Build Pragma
        uses: ./pragma/github_actions/build
        id: build-pragma
        with:
          build-args: '--with-pfm --with-all-pfm-modules --with-vr --with-networking --with-lua-debugger=0 --with-swiftshader --cmake-arg=-DCMAKE_CXX_STDLIB_MODULES_JSON="/opt/gcc-16/lib64/libstdc++.modules.json" --cmake-arg=-DCMAKE_EXE_LINKER_FLAGS="-Wl,-rpath,/opt/gcc-16/lib64 -L/opt/gcc-16/lib64" --cmake-cxx-flag="--gcc-toolchain=/opt/gcc-16"'
            